// Colors

$color-primary: #0094ff;
$color-secondary: #ff715b;
$color-dark: #282d46;
$color-light: #bec9d3;
$color-light-secondary: #efefef;
$color-background: #f4f6f8;

// Responsive breakpoints
$desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$phone: 425px;

// Paddings
$padding: 16px;
$border-radius: 8px;
