.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px;
}

.test {
  height: 500px;
  display: flex;
  background-color: gray;
  align-items: center;
  justify-content: center;

  &__p {
    color: red;
    width: 10px;
  }
}
